.screen{
    background-color: rgb(52, 78, 62);
}
.bg-verde{
    background-color: green;
}
.verde{
    color: green;
}
.tamanhoImagem{
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}
.negrito{
    font-weight: bold;   
}